<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="first">
      <div class="banner-text">
        <h1><strong>  Apprends à coder en 3 mois </strong></h1>
        <h2> Prêt à réinventer ta carrière? Rejoins notre newsletter!<h2>

          <section class="call-to-action text-white text-center">
            <div class="container">

              <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <%= render 'form', user: @user %>
              </div>
            </div>
          </section>
      </div>
    </div>

    <center>
    <section class="temoinun">
      <div class="container">
        <h2 class="mb-5">Avec la formation intensive et gratuite de THP, tu pourras :</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <%= image_tag "testimonials-1.jpg", class: "img-fluid rounded-circle mb-3" %>
              <!-- <img class="img-fluid rounded-circle mb-3" src="" alt=""> -->
              <h5>Maîtriser les langages fondamentaux de programmation web.</h5>
              <!-- <%= image_tag "https://c.pxhere.com/photos/41/36/programming_code_development_web_computer_php-767130.jpg!d", class: "magaret" %> -->
              <!-- <img src="https://c.pxhere.com/photos/41/36/programming_code_development_web_computer_php-767130.jpg!d"
              alt= "magaret" class= "magaret"> -->
              <p class="textfinal">En 11 semaines, tu vas apprendre à coder en HTML, CSS, Ruby, Rails et JavaScript, mais également maîtriser des outils fondamentaux comme github, heroku le bash, etc.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <%= image_tag "testimonials-2.jpg", class: "img-fluid rounded-circle mb-3" %>
              <!-- <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt=""> -->
              <h5>Apprendre à gérer la complexité des projets numériques en équipe.</h5>
              <!-- <%= image_tag "https://www.microdon.org/wp-content/uploads/2018/05/achievement-3385068_960_720.jpg", class: "magaret" %> -->
              <!-- <img src="https://www.microdon.org/wp-content/uploads/2018/05/achievement-3385068_960_720.jpg" alt= "magaret" class= "magaret"> -->
              <p class="textfinal">Notre programme est centré autour du “peer-learning”, une méthodologie qui vous fera acquérir des compétences collaboratives indispensables pour travailler dans le numérique.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <%= image_tag "testimonials-3.jpg", class: "img-fluid rounded-circle mb-3" %>
              <!-- <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt=""> -->
              <h5>Saisir les opportunités professionnelles de la communauté THP.</h5>
              <!-- <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8uwrl_HwaY3dhFouZdGGVud2aPu9W7Q9G6KXXlBefwMONp5dB", class: "magaret" %> -->
              <!-- <img src=
"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8uwrl_HwaY3dhFouZdGGVud2aPu9W7Q9G6KXXlBefwMONp5dB" alt= "magaret" class= "magaret"> -->
              <p class="textfinal">
Après ta formation accélérée, tes débouchés seront variés : dev, entrepreneuriat, growth hacking, gestion de projets etc. Appuis-toi sur la communauté des 500 anciens élèves de THP où se partagent savoir, services et offres d'emplois.

              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </center>


<section class="call-to-action text-white text-center">
          <div class="container">

            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <div class="form-row">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type="email" class="form-control form-control-lg" placeholder="ton email pour recevoir la newsletter THP...">
                  </div>
                  <div class="col-12 col-md-3">
                    <button type="submit" class="btn">J'arrive!</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </section>

      <!-- <section class="wrapper">
        <div class="main_content">

          <div class="skills">
            <h3>Notre programme</h3>
            <p></p>
            <ul>
              <li><h4>L'HTML et le CSS</h4></li>
              <p>En une semaine vous serez capable de refaire la home page de google ou la landing page de votre projet. En 3 semaines vous aurez le niveau pour vendre vos réalisations.</p>

              <li><h4>Ruby</h4></li>
              <p>Avec Ruby vous découvrirez le scrapping de data, l'utilisation du deep web et les bases de la célèbre Programmation Orientée Objet.</p>

              <li><h4>Ruby On Rails</h4></li>
              <p>Découvrez l'un des framework web les plus célèbres. Il vous permettra de rapidement coder une application web fonctionnelle, avec une base de données.</p>
              <li><h4>JavaScript</h4></li>
              <p>Javascript vous permet de rendre votre site dynamique et d'inter-agir avec vos utilisateurs. -->
                <!-- <a href="#" class="btn">Voir plus</a> -->
              <!-- </ul>
            </div>
          </div>

          <div class="sub_content">
            <h2>Nous<br> rejoindre:</h2>

            <div class="work_showcase">
              <img src="https://cdn-images-1.medium.com/max/2000/1*EE4IrlniNAhubIUrFqV3FQ.jpeg" alt="Work Showcase" class="small-img"> -->


              <!-- <a href="#" class="btn btn_primary">Nous contacter</a> -->
            <!-- </div>
          </div>


        </section> -->






        <center>

          <section class="temoin">
            <div class="container">
              <h2 class="mb-5">Les anciens élèves de THP témoignent</h2>
              <div class="row">
                <div class="col-lg-4">
                  <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag "testimonials-4.jpg", class: "img-fluid rounded-circle mb-3" %>
                    <!-- <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt=""> -->
                    <h5>Isabelle Bonnet </h5>
                    <i><h6>Fondatrice de la startup Algoski</h6></i>
                    <!-- <%= image_tag "https://media.licdn.com/dms/image/C4D03AQHhAGIWKdnxJQ/profile-displayphoto-shrink_800_800/0?e=1539820800&v=beta&t=er9rtaPYqNCejWc7ladMqQtjmgWbvQZ_2KeelBh1Mlw", class: "magaret" %> -->
                    <!-- <img src="https://media.licdn.com/dms/image/C4D03AQHhAGIWKdnxJQ/profile-displayphoto-shrink_800_800/0?e=1539820800&v=beta&t=er9rtaPYqNCejWc7ladMqQtjmgWbvQZ_2KeelBh1Mlw" -->
                    <!-- alt= "magaret" class= "magaret"> -->
                    <p class="textfinal">"J'ai fait The Hacking Project pour hacker mon process commercial et faire plus. C'était également pour moi un moyen d'avoir une meilleure rémunération."</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag "testimonials-5.jpg", class: "img-fluid rounded-circle mb-3" %>
                    <!-- <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt=""> -->
                    <h5>Etienne Ameil</h5>
                    <i><h6>Directeur de la communication de LeCab</h6></i>
                    <!-- <img src="https://media.licdn.com/dms/image/C4E03AQGxgfljBzv3VQ/profile-displayphoto-shrink_800_800/0?e=1539820800&v=beta&t=GwYWMD4cGjr_Suatetxb69K8zfW4QMClW_xQOks4O74" alt= "magaret" class= "magaret"> -->
                    <p class="textfinal">"En plus de me donner suffisamment de bases en code pour lancer AlgoSki, The Hacking Project m'a réappris à apprendre. Je recommande la formation !"</p>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <%= image_tag "testimonials-6.jpg", class: "img-fluid rounded-circle mb-3" %>
                    <!-- <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt=""> -->
                    <h5>Ségolène Alquier</h5>
                    <i><h6>Récemment admise à l’Ecole 42</h6></i>
                    <!-- <%= image_tag "https://media.licdn.com/dms/image/C4E03AQE6LGmXOYzc0Q/profile-displayphoto-shrink_800_800/0?e=1539820800&v=beta&t=JEpU5JPgH-oVaWAVIEXv0LOAL9_FNHdae_4J1bf7ORg", class: "magaret" %> -->
                    <!-- <img src="https://media.licdn.com/dms/image/C4E03AQE6LGmXOYzc0Q/profile-displayphoto-shrink_800_800/0?e=1539820800&v=beta&t=JEpU5JPgH-oVaWAVIEXv0LOAL9_FNHdae_4J1bf7ORg" alt= "magaret" class= "magaret"> -->
                    <p class="textfinal">"En deux mois, j'avais le niveau de développeur. Très pratique pour parler aux devs quand on fait du produit, ou pour tester à la volée plein de scripts rapides."

                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </center>



        <section class="call-to-action text-white text-center">
          <div class="container">

            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
              <form>
                <div class="form-row">
                  <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type="email" class="form-control form-control-lg" placeholder="ton email pour recevoir la newsletter THP...">
                  </div>
                  <div class="col-12 col-md-3">
                    <button type="submit" class="btn">J'arrive!</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </section>
  </body>
</html>
